<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rano market</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>                                                                                                                                
    <header class="main-header">
        
        <div class="main-header-nav">
            <img class="top" src="static/img/logo.jpg" alt="">
            <span>Rano market</span>
            <form action="">
                <input type="text">
                <button class="top" type="submit">Search</button>
                
            </form>
            <a class="top" href="http://">Kirish</a>
            <a class="top" href="http://">Saqlanganlar</a>
            <a class="top" href="http://">Korzina</a>
        </div>
    </header>
    <section class="main-section">
        <div class="main-reklama">
            <img src="static/img/aksiya.jpg" alt="">
        </div>

    </section>
    <section class="popular">
        
        <div class="card">
            <div class="reklama-photo">
                <a href="tovar.html">
                <img src="static/img/clear.jpg" alt="">
            </a>
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="tovar.html">add savat</a>
            </div>
        
        </div>
        <div class="card">
            <div class="reklama-photo">
                <img src="static/img/nivea men.jpg" alt="">
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="http://">add savat</a>
            </div>
        </div>
        <div class="card">
            <div class="reklama-photo">
                <img src="static/img/abc.png" alt="">
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="http://">add savat</a>
            </div>
        </div>
        <div class="card">
            <div class="reklama-photo">
                <img src="static/img/head-shoulders.jpg" alt="">
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="http://">add savat</a>
            </div>
        </div>
        <div class="card">
            <div class="reklama-photo">
                <img src="static/img/clear.jpg" alt="">
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="http://">add savat</a>
            </div>
        </div>
        <div class="card">
            <div class="reklama-photo">
                <img src="static/img/nivea men.jpg" alt="">
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="http://">add savat</a>
            </div>
        </div>
        <div class="card">
            <div class="reklama-photo">
                <img src="static/img/abc.png" alt="">
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="http://">add savat</a>
            </div>
        </div>
        <div class="card">
            <div class="reklama-photo">
                <img src="static/img/head-shoulders.jpg" alt="">
            </div>
            <div class="reklama-tasnifi">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, et!
                </p>
                <p>
                    5 stars
                </p>
                <p class="narx">
                    50000som
                </p>
                <a href="http://">add savat</a>
            </div>
        </div>
        </div>
    </section>
</body>
</html>