<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tovar haqida</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="main-header">
        
        <div class="main-header-nav">
            <img src="static/img/logo.jpg" alt="">
            <span>Rano market</span>
            <form action="">
                <input type="text">
                <button type="submit">Search</button>
                
            </form>
            <a href="http://">Kirish</a>
            <a href="http://">Saqlanganlar</a>
            <a href="http://">Korzina</a>
        </div>
    </header>
    <div class="baho">
    <img src="static/img/clear.jpg" alt="">
    </div>
    <div class="baho">
    <img class="star" src="static/img/star.png" alt="">
    <p class="baho">4.9</p>
    </div>
    <p class="baho">(153ta baholar)</p>
</body>
</html>